.section5 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
  }
  
  .content-wrapper {
    text-align: center;
  }
  
  .input-wrapper {
    margin-top: 20px; 
    background: #dede;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: flex-start;
    border-radius: 10px;
  }
  .input-wrapper input{
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 10px;
  }
  
  
  
  @media screen and (min-width: 300px) and (max-width: 767px) {
    .section5 {
        margin-top: 25rem;
      }
  }